* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* NAV BAR */

header {
    width: 100%;
    background: #55d6aa;
    position: fixed;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 20px 0;
}

nav {
    float: right;
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 40px;
}

nav ul li a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav ul li a:hover {
    color: #000;
}

nav ul li a::after {
    content: '';
    display: block;
    height: 5px;
    background: #000;
    width: 0;
    transition: all ease-in 250ms;
}

nav ul li a:hover::after {
    width: 100%;
}


/* BANNER HEADER */
.banner-header {
    background: linear-gradient(rgba(13, 13, 15, 0.4), rgba(0, 0, 0, 0.2) ),url('../img/bg.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hgroup{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    padding: 20px 40px;
    text-align: center;
    background: #333;
}
